/*YOSEMITE PAGE*/

body{background-color: rgb(255, 255, 255);
   /*background-image: url(images/YOSEMITE.jpg);
   background-repeat: none;
   background-size: 100%;
   background-attachment: fixed;
   height: 884px;
   width: 100%;
   margin: 0;
   padding: 0;*/
}


h1{
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150px;
   text-align: center;
   position: relative;
   bottom: 100px;
}

p{
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   text-align: center;
   position: relative;
   bottom: 180px;
}

.hiking>*{
   text-decoration: none;
   display: block;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   text-align: center;
   position: relative;
   bottom: 0px;
}

.climbing>*{
   text-decoration: none;
   display: block;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   text-align: center;
   position: relative;
   bottom: -20px;
   
}

.yosemite{
   position: absolute;
   top:0px;
   z-index: -3;
   margin-left: -8px;
}

/*IPAD (YOSEMITE PAGE)*/
@media screen and (max-width:820px){

   h1{
      font-size: 100px;
      bottom: -50px;
   }
   p{
       font-size: 15px;
       bottom: 0px;
   }
   .hiking>*{
       font-size: 40px;
       bottom: -140px;
   }
   .climbing>*{
      font-size: 40px;
      bottom: -160px;
  }
  .yosemite{
   scale: 250%;
   position: absolute;
   top:300px;
   z-index: -3;
  }
  /*body{
   background-size: 400%;
}*/
}
 
/*IPHONE (YOSEMITE PAGE)*/
@media screen and (max-width:400px){
   h1{
      font-size: 50px;
      bottom: -50px;
   }
   p{
       font-size: 10px;
       bottom: -40px;
   }
   .hiking>*{
       font-size: 20px;
       bottom: -180px;
   }
   .climbing>*{
      font-size: 20px;
      bottom: -200px;
  }
  .yosemite{
   scale: 350%;
   position: absolute;
   top:300px;
   z-index: -3;
  }

  /*body{
   background-size: 400%;
}*/
}

/*CLIMBING PAGE*/

h2{transform: rotate(-90deg);
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150px;
   text-align: center;
   position: relative;
   bottom: -250px;
   right: -40px;
}


.BACK>*{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   position: absolute;
   bottom: 0px;
   right:0px;
   margin: 10px;
}

.climbing1>*{
   position: absolute;
   top: 0%;
   left: -88px;
   z-index: -3;
}

.container{
   display: flex;
   margin: 80px;
   height: 700px;
   width: 600px;
   overflow-y: auto;
   position: absolute;
   right: -10px;
   top: 30px;
}

.container>*{
   padding: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

/*IPAD (CLIMBING PAGE)*/
@media screen and (max-width:820px){
   .climbing1>*{
      scale: 175%;
      height: 400px; object-fit: cover; object-position: 100% 0;
      position: absolute;
      top: 100px;
      left: 150px;
   }

   h2{transform: rotate(360deg);
      font-size: 100px;
      bottom: -475px;
      right: -20px;
   }

   .container{
      height: 400px;
      width: 680px;
      right: -16px;
      top: 600px;
   }

}

/*IPHONE (CLIMBING PAGE)*/
@media screen and (max-width:400px){
   .climbing1>*{
      scale: 200%;
      height: 250px; object-fit: cover; object-position: 150% 50;
      position: absolute;
      top: 50px;
      left: 40px;
   }

   h2{transform: rotate(360deg);
      font-size: 50px;
      bottom: -340px;
      right: 0px;
   }

   .container{
      height: 370px;
      width: 360px;
      right: -70px;
      top: 350px;
   }

   .container>*{
      font-size: 12px;
   }

}



/*HIKING PAGE*/

h3{
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150px;
   text-align: center;
   position: relative;
   bottom: -305px;
}



.BACK>*{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   position: absolute;
   bottom: 0px;
   right:0px;
   margin: 10px;

}

.hiking1{
   position: absolute;
   top: -530px;
   z-index: -3;
   margin-left: -8px;
}

.container2{
   display: flex;
   margin: 80px;
   height: 220px;
   width: 1500px;
   overflow-y: auto;
   position: absolute;
   bottom: -10px;
}

.container2>*{
   padding: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

/*IPAD (CLIMBING PAGE)*/
@media screen and (max-width:820px){
   h3{
      font-size: 100px;
      bottom: -355px;
   }

   .BACK>*{
       font-size: 15px;
   }

   .container2{
      height: 500px;
      width: 650px;
      bottom: 5px;
   }

   .hiking1{
      top: 0px;
   }

}

/*IPHONE (CLIMBING PAGE)*/
@media screen and (max-width:400px){
   h3{
      font-size: 50px;
      bottom: -265px;
   }

   .BACK>*{
       font-size: 15px;
   }

   .container2{
      height: 425px;
      width: 350px;
      bottom: -30px;
      right: -60px;
   }

   .container2>*{
      font-size: 12px;
   }

   .hiking1{
      scale: 160%;
      top: 20px;
   }

}


